@charset "utf-8";
.clearfix {*zoom: 1;}
.clearfix:after {content: ''; display: block; clear: both;}
.blind {position:absolute; clip:rect(0 0 0 0); width:1px; height:1px; margin:-1px; overflow:hidden;}
.container {max-width: 1200px; margin: 0 auto;}
.container .title {text-align: center; padding-bottom: 40px;}
.container .title > h3 {margin: 0; color: #333; font-size: 38px; line-height: 38px; font-weight: 800;}
.container .title > p {margin: 0; padding-top: 25px; font-size: 22px; line-height: 25px;}
.container h4 {margin: 0; padding-bottom: 20px; color: #333; font-size: 25px; line-height: 40px; font-weight: 700;}
.container h4 > span {color: #288bcc;}
.container .btn-wrap {width: 100%; background-color: rgba(255, 255, 255, .8); position: absolute; left: 0; bottom: 0;}
.container .btn-wrap a {width: 50%; padding-left: 20px; line-height: 45px; font-size: 14px; text-align: center; color: #666; box-sizing: border-box;}
.container .btn-wrap a:before {content: ''; background: url(../images/sprites.png) no-repeat; background-position-y: -70px; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);}
.container .btn-wrap .btn-like {float: left; border-right: 1px solid rgba(0, 0, 0, .2);}
.container .btn-wrap .btn-like:before {width: 18px; height: 16px; background-position-x: -233px; left: 22px;}
.container .btn-wrap .btn-apply {float: right;}
.container .btn-wrap .btn-apply:before {width: 19px; height: 19px;background-position-x: -252px; right: 80px;}
.container .btn-more {padding: 0 22px; border: 1px solid #ccc; border-radius: 5px; position: absolute; right: 0; top: 0;}
.container .btn-more > span {display: inline-block; padding-right: 15px; font-size: 16px; line-height: 38px;}
.container .btn-more > span:after {content: ''; width: 7px; height: 11px; background: url(../images/sprites.png) no-repeat -246px -155px; position: absolute; right: 20px; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);}

/* 스킵네비게이션 */
#skipNavi a {font-size: 0; position: absolute; left: 0; top: 0; z-index: 99999;}
#skipNavi a:active, #skipNavi a:focus {width: 100%; height: auto; padding: 5px 0; font-size: 14px; text-align: center; color: #fff; background: #000;}

/* header */
header {width: 100%; background-color: #fff; letter-spacing: -1px; position: fixed; left: 0; top: 0; z-index: 999;}
header .top {height: 100px; border-bottom: 1px solid #ededed; box-sizing: border-box;}
header .top h1 {padding-top: 33px; font-size: 0; float: left;}
header .top h1 a {width: 140px; height: 34px; display: inline-block; background: url(../images/sprites.png) no-repeat 0 0;}
header .top h1 a:last-child {width: 138px; margin-left: 28px; background-position-y: -35px;}
header .top .user-control {padding-top: 27px; font-size: 0; float: right;}
header .top .user-control .sizing {display: inline-block; font-size: 0;}
header .top .user-control .sizing span {margin-right: 13px; color: #333; font-size: 16px; font-weight: 700; vertical-align: middle;}
header .top .user-control .sizing button[type="button"] {padding: 0; border: 1px solid #dfdfdf;}
header .top .user-control .sizing .zoomBtn {width: 36px; height: 36px; margin-right: 4px; background: url(../images/sprites.png) no-repeat; background-position-x: -236px; vertical-align: middle; border-radius: 50%;}
header .top .user-control .sizing .zoom-in {background-position-y: -414px;}
header .top .user-control .sizing .zoom-out {background-position-y: -451px;}
header .top .user-control .sizing .zoom-default {width: 90px; line-height: 36px; color: #288bcc; font-size: 15px; font-weight: 700; vertical-align: middle; border-radius: 30px;}
header .top .user-control .sns {padding-left: 40px; display: inline-block; font-size: 0; vertical-align: middle; position: relative;}
header .top .user-control .sns:before {content: ''; width: 1px; height: 30px; background-color: #e3e3e3; position: absolute; left: 20px; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);}
header .top .user-control .sns > li {display: inline-block;}
header .top .user-control .sns > li:not(:first-child) {margin-left: 12px;}
header .top .user-control .sns > li a {width: 46px; height: 46px; background: url(../images/sprites.png) no-repeat 0 -70px;}
header .top .user-control .sns > li .sns-naver {background-position-x: -47px;}
header .top .user-control .sns > li .sns-youtube {background-position-x: -94px;}
header .top .user-control .sns > li .sns-instagram {background-position-x: -141px;}
header .gnb {background-color: #fff; position: relative;}
header .gnb:after {content: ''; width: 100%; height: 100%; background-color: rgba(0, 0, 0, .5); position: fixed; left: 0; top: 160px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; z-index: -1; visibility: hidden; opacity: 0;}
header .gnb.layout:after {visibility: visible; opacity: 1;}
header .gnb .menu {float: left;}
header .gnb .menu:after {content: ''; width: 100%; height: 1px; background-color: #ededed; position: absolute; left: 0; top: 59px;}
header .gnb .menu > li {float: left;}
header .gnb .menu > li > a {padding: 0 40px; color: #333; line-height: 60px; font-size: 22px; font-weight: 800; position: relative;}
header .gnb .menu > li > a:hover {color: #288bcc;}
header .gnb .menu > li:not(:first-child) > a:before {content: ''; width: 1px; height: 12px; background-color: #e3e3e3; position: absolute; left: 0; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);}
header .gnb .menu > li .lnb {margin: 40px 0 40px 40px; display: none;}
header .gnb .menu > li .lnb > li:not(:first-child) {margin-top: 20px;}
header .gnb .menu > li .lnb > li:hover {color: #288bcc; text-decoration: underline;}
header .gnb .menu > li .lnb > li > a {font-size: 15px;}
header .gnb .member {float: right;}
header .gnb .member > li {line-height: 60px; float: left;}
header .gnb .member > li:nth-child(2) {margin-left: 24px; position: relative;}
header .gnb .member > li:nth-child(2):before {content: ''; width: 1px; height: 10px; background-color: #e3e3e3; position: absolute; left: -12px; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);}
header .gnb .member > li .search-btn {width: 26px; height: 27px; margin-left: 29px; padding: 0; vertical-align: middle; background: url(../images/sprites.png) no-repeat -153px -124px;}
/* 검색창 */
header .search {width: 100%; display: none; background: -webkit-linear-gradient(left, #288bcc 0%, #165fa2 100%); background: -moz-linear-gradient(left, #288bcc 0%, #165fa2 100%); background: linear-gradient(to right, #288bcc 0%, #165fa2 100%); position: absolute; left: 0; top: 160px; z-index: -1;}
header .search form {width: 50%; margin: 20px auto 50px; position: relative;}
header .search form input[type="text"] {width: 100%; height: 80px; padding: 0 10px; font-size: 24px; line-height: 80px; letter-spacing: -0.05em; color: #fff; background: none; outline: none; border: none; border-bottom: 1px solid rgba(255, 255, 255, 0.4); box-sizing: border-box;}
header .search form input[type="text"]::-webkit-input-placeholder {color: rgba(255, 255, 255, 0.6);}
header .search form input[type="text"]::-moz-placeholder {color: rgba(255, 255, 255, 0.6);}
header .search form input[type="text"]::-ms-input-placeholder {color: rgba(255, 255, 255, 0.6);}
header .search form button[type="submit"] {width: 40px; height: 40px; background: url(../images/sprites.png) no-repeat -231px -261px; position: absolute; right: 10px; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);}

/* partners */
.partners {padding: 40px 0;}
.partners .partner-list {padding: 0 35px;}
.partners .partner-list .box a {width: 180px; height: 70px; font-size: 0; border: 1px solid #e3e3e3; box-sizing: border-box;}
.partners .partner-list .box img {width: 100%; height: 100%;}
.partners .partner-list .slick-arrow {width: 12px; height: 18px; text-indent: -9999px; background: url(../images/sprites.png) no-repeat 0 -238px; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);}
.partners .partner-list .slick-prev {background-position-x: -260px; left: 0;}
.partners .partner-list .slick-next {background-position-x: -248px; right: 0;}

/* footer */
footer {padding: 60px 0; background-color: #f5f5f5;}
footer .need-help {margin-bottom: 30px;}
footer .need-help .f-logo {width: 130px; height: 32px; margin-top: 5px; display: inline-block; background: url(../images/sprites.png) no-repeat -142px 0; float: left;}
footer .need-help > ul {font-size: 0; float: left;}
footer .need-help > ul > li {margin-left: 30px; display: inline-block; font-size: 17px; line-height: 46px; color: #222; position: relative;}
footer .need-help > ul > li:not(:last-of-type):after {content: ''; width: 1px; height: 16px; background-color: #d9d9d9; position: absolute; right: -15px; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);}
footer .need-help .site-link {width: 230px; float: right; position: relative;}
footer .need-help .site-link button[type="button"] {width: 100%; padding: 0 23px; text-align: left; background-color: #fff; border: 1px solid #c4c4c4;}
footer .need-help .site-link button[type="button"] span {display: block; font-size: 15px; line-height: 44px; color: #333; position: relative;}
footer .need-help .site-link button[type="button"] span:after {content: ''; width: 14px; height: 8px; background: url(../images/sprites.png) no-repeat -257px -167px; position: absolute; right: 0; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);}
footer .need-help .site-link button[type="button"].show span:after {top: 40%; -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg);}
footer .need-help .site-link > ul {width: 100%; max-height: 130px; display: none; background-color: #fff; border: 1px solid #c4c4c4; border-top: none; position: absolute; overflow-y: auto; box-sizing: border-box;}
footer .need-help .site-link > ul > li:not(:first-of-type) {border-top: 1px solid #c4c4c4;}
footer .need-help .site-link > ul > li > a {padding: 0 23px; line-height: 44px;}
footer .f-info {padding-top: 30px; border-top: 1px solid #e4e4e4;}
footer .f-info > span {display: block; line-height: 46px; color: #a0a0a0; float: left;}
footer .f-info .sns {font-size: 0; float: right;}
footer .f-info .sns > li {padding-left: 12px; display: inline-block;}
footer .f-info .sns > li > a {width: 46px; height: 46px; background: url(../images/sprites.png) no-repeat 0 -70px;}
footer .f-info .sns > li:nth-child(2) > a {background-position-x: -47px;}
footer .f-info .sns > li:nth-child(3) > a {background-position-x: -94px;}
footer .f-info .sns > li:nth-child(4) > a {background-position-x: -141px;}
footer .f-info .sns > li > a > span {font-size: 16px;}