@charset "utf-8";
.clearfix {*zoom: 1;}
.clearfix:after {content: ''; display: block; clear: both;}
.blind {position:absolute; clip:rect(0 0 0 0); width:1px; height:1px; margin:-1px; overflow:hidden;}
.container {max-width: 1200px; margin: 0 auto;}
.container .title {text-align: center; padding-bottom: 40px;}
.container .title > h3 {color: #333; font-size: 38px; line-height: 38px; font-weight: 800;}
.container .title > p {padding-top: 25px; font-size: 22px; line-height: 25px;}
.container h4 {padding-bottom: 20px; color: #333; font-size: 25px; line-height: 40px; font-weight: 700;}
.container h4 > span {color: #288bcc;}
.container .btn-more {padding: 0 22px; border: 1px solid #ccc; border-radius: 5px; position: absolute; right: 0; top: 0;}
.container .btn-more > span {display: inline-block; padding-right: 15px; line-height: 38px; background: url(../images/sprites.png) no-repeat 0 0;}

/* 스킵네비게이션 */
#skipNavi a {display: block; font-size: 0; z-index: 9999;}
#skipNavi a:active, #skipNavi a:focus {width: 100%; height: auto; padding: 5px 0; font-size: 14px; text-align: center; color: #fff; background: #000;}