@charset "utf-8";
.clearfix {*zoom: 1;}
.clearfix:after {content: ''; display: block; clear: both;}
.blind {position:absolute; clip:rect(0 0 0 0); width:1px; height:1px; margin:-1px; overflow:hidden;}
.container {max-width: 1200px; margin: 0 auto;}
.container .title {text-align: center; padding-bottom: 40px;}
.container .title > h3 {color: #333; font-size: 38px; line-height: 38px; font-weight: 800;}
.container .title > p {padding-top: 25px; font-size: 22px; line-height: 25px;}
.container h4 {padding-bottom: 20px; color: #333; font-size: 25px; line-height: 40px; font-weight: 700;}
.container h4 > span {color: #288bcc;}
.container .btn-more {padding: 0 22px; border: 1px solid #ccc; border-radius: 5px; position: absolute; right: 0; top: 0;}
.container .btn-more > span {display: inline-block; padding-right: 15px; line-height: 38px; background: url(../images/sprites.png) no-repeat 0 0;}

/* 스킵네비게이션 */
#skipNavi a {font-size: 0; position: absolute; left: 0; top: 0; z-index: 9999;}
#skipNavi a:active, #skipNavi a:focus {width: 100%; height: auto; padding: 5px 0; font-size: 14px; text-align: center; color: #fff; background: #000;}

/* header */
header {width: 100%; position: fixed; left: 0; top: 0; z-index: 999;}
header .top {height: 100px; border-bottom: 1px solid #ededed; box-sizing: border-box;}
header .top h1 {padding-top: 33px; font-size: 0; float: left;}
header .top h1 a {width: 140px; height: 34px; display: inline-block; background: url(../images/sprites.png) no-repeat 0 0;}
header .top h1 a:last-child {width: 138px; margin-left: 28px; background-position-y: -35px;}
header .top .user-control {padding-top: 27px; font-size: 0; float: right;}
header .top .user-control .sizing {display: inline-block; font-size: 0;}
header .top .user-control .sizing span {margin-right: 13px; color: #333; font-size: 16px; font-weight: 700; vertical-align: middle;}
header .top .user-control .sizing button[type="button"] {padding: 0; border: 1px solid #dfdfdf;}
header .top .user-control .sizing .zoomBtn {width: 36px; height: 36px; margin-right: 4px; background: url(../images/sprites.png) no-repeat; background-position-x: -236px; vertical-align: middle; border-radius: 50%;}
header .top .user-control .sizing .zoom-in {background-position-y: -414px;}
header .top .user-control .sizing .zoom-out {background-position-y: -451px;}
header .top .user-control .sizing .zoom-default {width: 90px; line-height: 36px; color: #288bcc; font-size: 15px; font-weight: 700; vertical-align: middle; border-radius: 30px;}
header .top .user-control .sns {display: inline-block; font-size: 0; vertical-align: middle; position: relative;}
header .top .user-control .sns:before {content: ''; width: 1px; height: 30px; background-color: #e3e3e3; position: absolute; left: 20px; top: 50%; transform: translateY(-50%);}
header .top .user-control .sns li {display: inline-block;}
header .top .user-control .sns li:not(:first-child) {margin-left: 12px;}
header .top .user-control .sns li a {width: 46px; height: 46px; background: url(../images/sprites.png) no-repeat 0 -70px;}
header .top .user-control .sns li .sns-naver {background-position-x: -47px;}
header .top .user-control .sns li .sns-youtube {background-position-x: -94px;}
header .top .user-control .sns li .sns-instagram {background-position-x: -141px;}