@charset "utf-8";
/* 세미나 특강신청 */
.edu-wrap {margin-top: 40px;}
.edu-wrap .page-tit {margin: 0 0 25px; font-size: 34px; line-height: 44px; font-weight: 700; color: #333; letter-spacing: -0.05em;}
.edu-wrap .tab {font-size: 0; border-bottom: 2px solid #333;}
.edu-wrap .tab > li {width: 198px; margin-right: 4px; display: inline-block;}
.edu-wrap .tab > li > a {font-size: 18px; line-height: 51px; text-align: center; letter-spacing: -0.05em; color: #333; background-color: #f3f3f3;}
.edu-wrap .tab > li.on > a {font-weight: 700; color: #fff; background-color: #3f69b8;}
.edu-wrap .board .edu-list {font-size: 0;}
.edu-wrap .board .edu-list > li {width: 100%; padding: 30px 20px; display: table; table-layout: fixed; border-bottom: 1px solid #eaeaea; box-sizing: border-box;}
.edu-wrap .board .edu-list > li .thumb {width: 300px; display: table-cell; vertical-align: top; position: relative;}
.edu-wrap .board .edu-list > li .thumb a {width: 100%; height: 240px;}
.edu-wrap .board .edu-list > li .thumb a img {width: 100%; height: 100%;}
.edu-wrap .board .edu-list > li .thumb .icon-box {position: absolute; left: 6px; top: 6px;}
.edu-wrap .board .edu-list > li .thumb .icon-box span {width: 42px; margin-right: 4px; display: inline-block; font-size: 14px; line-height: 32px; text-align: center; font-weight: 700; letter-spacing: -0.05em; color: #fff;}
.edu-wrap .board .edu-list > li .thumb .icon-box .hot {background-color: #f30000;}
.edu-wrap .board .edu-list > li .thumb .icon-box .new {background-color: #ffab33;}
.edu-wrap .board .edu-list > li .info-box {width: calc(100% - 400px); padding: 10px 40px 0 40px; display: table-cell; box-sizing: border-box;}
.edu-wrap .board .edu-list > li .info-box .cate {font-size: 17px; line-height: 20px; font-weight: 700; color: #288bcc;}
.edu-wrap .board .edu-list > li .info-box a {width: 95%; margin: 6px 0 20px; font-size: 26px; line-height: 36px; font-weight: 700; letter-spacing: -0.05em; color: #333; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.edu-wrap .board .edu-list > li .info-box a:hover {text-decoration: underline;}
.edu-wrap .board .edu-list > li .info-box ul > li:not(:last-of-type) {margin-bottom: 4px;}
.edu-wrap .board .edu-list > li .info-box ul > li strong {margin-right: 15px; padding-right: 15px; font-size: 16px; line-height: 26px; letter-spacing: -0.05em; color: #7b8ba9; font-weight: 500; position: relative;}
.edu-wrap .board .edu-list > li .info-box ul > li strong:after {content: ''; width: 1px; height: 15px; background-color: #d2d2d2; position: absolute; right: 0; top: 4px;}
.edu-wrap .board .edu-list > li .info-box ul > li span {font-size: 16px; line-height: 26px; letter-spacing: -0.05em;}
.edu-wrap .board .edu-list > li .btn-box {width: 100px; display: table-cell; vertical-align: middle;}
.edu-wrap .board .edu-list > li .btn-box a {width: 100px; height: 48px; line-height: 48px; font-size: 16px; text-align: center; font-weight: 700; letter-spacing: -0.05em; border-radius: 5px; box-sizing: border-box;}
.edu-wrap .board .edu-list > li .btn-box .btn-like {margin-bottom: 6px; color: #333; border: 1px solid #b4b4b4;}
.edu-wrap .board .edu-list > li .btn-box .btn-like:hover {color: #288bcc; background-color: #f4f4f4;}
.edu-wrap .board .edu-list > li .btn-box .btn-apply {color: #fff; background-color: #288bcc;}
.edu-wrap .board .edu-list > li .btn-box .btn-apply:hover {background-color: #1c78b4;}
.edu-wrap .board .pagination {padding: 40px 0; font-size: 0; text-align: center;}
.edu-wrap .board .pagination .pageBtn {width: 40px; height: 40px; margin-right: 3px; display: inline-block; font-size: 17px; line-height: 40px; font-weight: 700; border-radius: 2px;}
.edu-wrap .board .pagination .firstBtn {background: #fafafa url(../images/btn/btn_page_first.png) no-repeat center;}
.edu-wrap .board .pagination .prevBtn {background: #fafafa url(../images/btn/btn_page_prev.png) no-repeat center;}
.edu-wrap .board .pagination .nextBtn {background: #fafafa url(../images/btn/btn_page_next.png) no-repeat center;}
.edu-wrap .board .pagination .lastBtn {background: #fafafa url(../images/btn/btn_page_last.png) no-repeat center;}
.edu-wrap .board .pagination ul {display: inline-block; font-size: 0; vertical-align: top;}
.edu-wrap .board .pagination ul > li.active {color: #fff !important; background-color: #55b9fe !important;}
.edu-wrap .board .pagination ul > li:hover {background-color: #f5f5f5;}