@charset "utf-8";
.main {margin-top: 160px;}
.main .container {max-width: 1000px;}
.join-wrap {padding-top: 80px;}
.join-wrap .tit {margin: 0 0 25px 0; font-size: 34px; line-height: 44px; font-weight: 700; color: #333; letter-spacing: -0.05em;}
/* 회원가입 STEP01 */
.join-wrap .join-step {margin-bottom: 50px; font-size: 0; border: 1px solid #bdbdbd;}
.join-wrap .join-step > li {width: 33.33%; margin: 40px 0; display: inline-block; text-align: center; position: relative;}
.join-wrap .join-step > li:before {content: ''; width: 100px; height: 100px; background: url(../images/sprites.png) no-repeat 0 -184px; position: absolute; left: 50%; top: 0; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%);}
.join-wrap .join-step > li.step02:before {background-position-y: -285px;}
.join-wrap .join-step > li.step03:before {background-position-y: -386px;}
.join-wrap .join-step > li.current:before {background-position-x: -101px;}
.join-wrap .join-step > li:not(:last-of-type):after {content: ''; width: 14px; height: 24px; background: url(../images/sprites.png) no-repeat right -117px; position: absolute; right: -7px; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);}
.join-wrap .join-step > li span {margin-bottom: 5px; padding-top: 115px; display: block; font-size: 16px; line-height: 20px; color: #d0d0d0; font-weight: 700;}
.join-wrap .join-step > li strong {font-size: 18px; line-height: 22px; font-weight: 500; color: #999; letter-spacing: -0.05em;}
.join-wrap .join-step > li.current span {color: #666;}
.join-wrap .join-step > li.current strong {font-weight: 700; color: #288bcc;}

/* 약관 동의 */
.join-wrap .term-tit {margin-bottom: 15px;}
.join-wrap .term-tit strong {font-size: 20px; line-height: 30px; font-weight: 700; letter-spacing: -0.05em; color: #333; float: left;}
.join-wrap .term-tit .chk-box {float: right;}
.join-wrap .term-tit .chk-box label {padding-left: 35px; display: inline-block; font-size: 17px; line-height: 25px; color: #333; position: relative; cursor: pointer;}
.join-wrap .term-tit .chk-box label:before {content: ''; width: 29px; height: 25px; background: url(../images/sprites.png) no-repeat -151px -44px; position: absolute; left: 0; top: 0;}
.join-wrap .term-tit .chk-box input[type="checkbox"]:checked + label:before {background-position-x: -242px;}
.join-wrap .term-box {height: 300px; margin-bottom: 40px; padding: 20px 30px; font-size: 16px; line-height: 28px; letter-spacing: -0.05em; border: 1px solid #e3e3e3; overflow-y: auto; box-sizing: border-box; word-break: keep-all;}
.join-wrap .term-box h3 {margin: 40px 0 0.5em; font-size: 18px; font-weight: 600; color: #444;}
.join-wrap .term-box h3:first-of-type {margin-top: 0;}
.join-wrap .term-box p {margin: 0.5em 0;}
.join-wrap .term-box .term-wrap ol > li {margin-left: 18px; text-indent: -18px;}
.join-wrap .term-box .term-wrap table {width: 100%; text-align: center; text-indent: 0; border: 1px solid #ddd; border-top: 2px solid #666; border-collapse: collapse;}
.join-wrap .term-box .term-wrap table thead th {padding: 10px 0; font-weight: 600; color: #333; background-color: #f2f2f2; border-bottom: 1px solid #ddd;}
.join-wrap .term-box .term-wrap table tbody td {padding: 5px;}
.join-wrap .all-agree {padding-bottom: 40px; text-align: center; border-bottom: 1px solid #b5b5b5;}
.join-wrap .all-agree .chk-box label {padding-left: 35px; font-size: 18px; font-weight: 700; line-height: 25px; color: #333; cursor: pointer; position: relative;}
.join-wrap .all-agree .chk-box label:before {content: ''; width: 29px; height: 25px; background: url(../images/sprites.png) no-repeat -151px -44px; position: absolute; left: 0; top: 0;}
.join-wrap .all-agree .chk-box input[type="checkbox"]:checked + label:before {background-position-x: -242px;}
.join-wrap #joinForm {margin: 50px 0 100px;}
.join-wrap #joinForm a.btn01 {width: 160px; margin: 0 auto; font-size: 17px; text-align: center; line-height: 60px; font-weight: 700; letter-spacing: -0.05em; border-radius: 5px; color: #fff; background-color: #288bcc;}
.join-wrap #joinForm a.btn01:hover {background-color: #1c78b4;}

/* STEP02 */
#joinForm .table-step02 {width: 100%; border-top: 3px solid #333; border-collapse: collapse;}
#joinForm .table-step02 tbody tr:not(:last-of-type) {border-bottom: 1px solid #eaeaea;}
#joinForm .table-step02 tbody tr:last-of-type {border-bottom: 1px solid #c6c6c6;}
#joinForm .table-step02 tbody tr th {width: 18%; padding: 18px 20px; font-size: 18px; text-align: left; line-height: 28px; font-weight: 700; letter-spacing: -0.05em; color: #333; border-right: 1px solid #c6c6c6;}
#joinForm .table-step02 tbody tr td {padding: 18px 20px; font-size: 18px; color: #666;}
#joinForm .table-step02 tbody tr td input {width: 230px; height: 50px; padding: 10px 19px; font-size: 17px; line-height: 27px; color: #333;background-color: #fafafa; border: 1px solid #ddd; border-radius: 5px; box-sizing: border-box; outline: none;}
#joinForm .table-step02 tbody tr td input:focus {background-color: #fff; border: 2px solid #4873c2;}
#joinForm .table-step02 tbody tr td input[type="radio"] {width: 25px; height: 25px;}
#joinForm .table-step02 tbody tr td input[type="radio"] + label {padding-left: 8px; font-size: 18px; line-height: 25px; letter-spacing: -0.05em; color: #333; vertical-align: top; cursor: pointer;}
#joinForm .table-step02 tbody tr td .id-box input#txt_1 {width: 40%;}
#joinForm .table-step02 tbody tr td .id-box a.id-check {width: 100px; display: inline-block; font-size: 16px; line-height: 50px; font-weight: 700; vertical-align: top; color: #fff; background-color: #288bcc; border-radius: 5px; text-align: center;}
#joinForm .table-step02 tbody tr td .imp-txt {margin-left: 10px; font-size: 18px; line-height: 48px; letter-spacing: -0.05em; color: #333;}
#joinForm .table-step02 tbody tr td .radio-box {font-size: 0;}
#joinForm .table-step02 tbody tr td .radio-box .radio {display: inline-block; margin-right: 25px;}
#joinForm .table-step02 tbody tr td .radio-box .radio:last-of-type {margin-right: 0;}
#joinForm .table-step02 tbody tr td .phone-box {font-size: 0;}
#joinForm .table-step02 tbody tr td .phone-box select {width: 140px; height: 50px; padding-left: 15px; font-size: 17px; line-height: 48px; color: #333; background-color: #fafafa; border: 1px solid #ddd; border-radius: 5px;}
#joinForm .table-step02 tbody tr td .phone-box span {width: 20px; display: inline-block; font-size: 18px; text-align: center; line-height: 50px; color: #666;}
#joinForm .table-step02 tbody tr td .phone-box input {width: 120px;}
.btm-btn-list {font-size: 0;}
.btm-btn-list a {width: 160px; margin: -50px auto 100px; font-size: 17px; text-align: center; line-height: 60px; font-weight: 700; letter-spacing: -0.05em; color: #fff; background-color: #288bcc; border-radius: 5px;}
.btm-btn-list a:hover {background-color: #1c78b4;}